<h2 mat-dialog-title class="modal-title">Title</h2>
<mat-dialog-content class="modal-content">
  <mat-form-field appearance="fill">
    <mat-label>Board title</mat-label>
    <input matInput placeholder="Enter title of the board" value="" #boardTitle />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    (click)="onCreateBoard(boardTitle.value)"
    [disabled]="!boardTitle.value"
  >
    Create
  </button>
</mat-dialog-actions>
