.side-panel {
  transform: scaleX(0.95);
}

.boards {
  width: 80%;
  margin: 10px auto;
}

.boards-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 100%;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  color: var(--primary);

  &:hover {
    transform: scale(1);
  }
}
