<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center top" *transloco="let t">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>{{ t("login") }}</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="authorizeForm" (ngSubmit)="authorizeUserSettings()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>{{ t("Login") }}</mat-label>
          <input
            type="login"
            matInput
            formControlName="loginFormControl"
            [errorStateMatcher]="matcher"
            [placeholder]="'Login' | transloco"
            name="userLogin"
          />
          <mat-hint></mat-hint>
          <mat-error *ngIf="authorizeForm.controls['loginFormControl'].hasError('required')">
            {{ t("Login") }} <strong>{{ t("required") }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>{{ t("Password") }}</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="passwordFormControl"
            [placeholder]="'Password' | transloco"
            name="userPassword"
          />
          <mat-icon matSuffix *ngIf="!showPassword" (click)="togglePasswordVisibility()"
            >visibility</mat-icon
          >
          <mat-icon matSuffix *ngIf="showPassword" (click)="togglePasswordVisibility()"
            >visibility_off</mat-icon
          >
          <mat-error
            *ngIf="(authorizeForm.controls['passwordFormControl'].errors?.['passwordStrength'] || 
          authorizeForm.controls['passwordFormControl'].errors?.['minlength'])"
          >
            {{ t("password strength message") }}
          </mat-error>
          <mat-error
            *ngIf="authorizeForm.controls['passwordFormControl'].errors?.['passwordMatch']"
          >
            {{ t("Password") }} {{ t("not match") }}
          </mat-error>
          <mat-error *ngIf="authorizeForm.controls['passwordFormControl'].hasError('required')">
            {{ t("Please enter a password") }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="buttons-container" *transloco="let t">
        <button type="submit" class="link button-link">{{ t("login") }}</button>
        <a
          class="link"
          routerLink="/auth/signUp"
          routerLinkActive="active"
          (click)="getUserSettings()"
          >{{ t("signUp") }}</a
        >
      </div>
    </form>
  </mat-card>
</div>
