<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center top" *transloco="let t">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>{{ t("signUp") }}</mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="registryFormGroup" (ngSubmit)="getRegistry()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            type="name"
            matInput
            formControlName="nameFormControl"
            [errorStateMatcher]="matcher"
            placeholder="First Name"
            name="userName"
          />
          <mat-error *ngIf="registryFormGroup.controls['nameFormControl'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="registryFormGroup.controls['nameFormControl'].errors?.['minlength'] && !registryFormGroup.hasError('required')"
          >
            Please enter a valid Name <strong>min length 4 required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>login</mat-label>
          <input
            type="login"
            matInput
            formControlName="loginFormControl"
            [errorStateMatcher]="matcher"
            placeholder="login"
            name="login"
          />
          <mat-hint></mat-hint>
          <mat-error *ngIf="registryFormGroup.controls['loginFormControl'].hasError('required')">
            login is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              registryFormGroup.controls['loginFormControl'].hasError('minlength') &&
              !registryFormGroup.controls['loginFormControl'].hasError('required')
            "
          >
            login should be minimum of 8 characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            formControlName="passwordFormControl"
            placeholder="Password"
            name="userPassword"
          />
          <mat-error
            *ngIf="(registryFormGroup.controls['passwordFormControl'].errors?.['passwordStrength'] || 
          registryFormGroup.controls['passwordFormControl'].errors?.['minlength'])"
          >
            Your password must have at least one lower case, one upper case and one numeric
            character. Password should be minimum of 8 characters.
          </mat-error>
          <mat-error *ngIf="registryFormGroup.controls['passwordFormControl'].hasError('required')">
            Please enter a password
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="buttons-container" *transloco="let t">
        <a class="link button-link" routerLink="/auth/login" routerLinkActive="active">{{
          t("login")
        }}</a>
        <button type="submit" class="link button-link">{{ t("signUp") }}</button>
      </div>
    </form>
  </mat-card>
</div>
