<ng-container *transloco="let t">
  <div class="tasks-sidebar">
    <a routerLink="/main" class="tasks-sidebar_item">{{ t("allBoards") }}</a>
  </div>
  <div class="search-container">
    <div class="tasks-board">
      <p class="">
        {{ t("Search results") }}
      </p>
      <div class="sort-settings-container">
        {{ t("Sort by:") }}
        <button class="sort-button">{{ t("title") }}</button>
        <button class="sort-button">{{ t("order") }}</button>
        <button class="sort-button">{{ t("description") }}</button>
        <button class="sort-button">{{ t("user") }}</button>
      </div>
    </div>
    <div
      class="search-result-container"
      *ngIf="searchService.searchString.length < searchService.MINIMAL_REQUEST_LENGTH"
    >
      <p>
        {{ t("search request length") }} {{ searchService.MINIMAL_REQUEST_LENGTH }} {{ t("chars") }}
      </p>
    </div>
    <div
      class="search-result-container"
      *ngIf="
        searchService.filteredSearchResult.length === 0 &&
        searchService.searchString.length >= searchService.MINIMAL_REQUEST_LENGTH
      "
    >
      <p>{{ t("Sorry, nothing matches.") }}</p>
      <p>{{ t("Try another search!") }}</p>
    </div>
    <div
      class="search-result-container"
      *ngIf="searchService.searchString.length >= searchService.MINIMAL_REQUEST_LENGTH"
    >
      <ng-container *ngFor="let task of searchService.filteredSearchResult">
        <div class="task-container" (click)="searchService.onSelect(task)">
          <p>{{ task.title }}</p>
          <p>{{ task.order }}</p>
          <p>{{ task.description }}</p>
          <div class="task-user">
            <span>{{ task.userName }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
