<ng-container *transloco="let t">
  <div class="tasks-sidebar">
    <a routerLink="/main" class="tasks-sidebar_item">{{ t("allBoards") }}</a>
  </div>
  <div class="search-container">
    <p class="tasks-board">
      {{ t("Search results") }}
    </p>
    <div class="search-result-container" *ngIf="searchService.searchString.length < 3">
      <p>{{ t("search request length") }}</p>
    </div>
    <div
      class="search-result-container"
      *ngIf="
        searchService.filteredSearchResult.length === 0 && searchService.searchString.length > 2
      "
    >
      <p>{{ t("Sorry, nothing matches.") }}</p>
      <p>{{ t("Try another search!") }}</p>
    </div>
    <div class="search-result-container" *ngIf="searchService.searchString.length > 2">
      <ng-container *ngFor="let task of searchService.filteredSearchResult">
        <div class="task-container" (click)="searchService.onSelect(task)">
          <p>{{ task.title }}</p>
          <p>{{ task.order }}</p>
          <p>{{ task.description }}</p>
          <div class="task-user">
            <span>{{ task.userName }}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
