.search-container {
  padding-top: 60px;
}

.search-result-container {
  width: 50%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.task-container {
  width: 100%;
  min-width: 310px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
  font-size: 1rem;
}
