.not-found-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  color: var(--primary);
  text-align: center;
  gap: 5%;
  padding: 15%;
}

.not-found-image {
  width: 200px;
  height: 200px;
  background-image: url(../../../assets/svg/servise.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
