<div class="info">
  <p class="copyright">©</p>
  <p class="year">2022</p>
  <div class="github-links">
    <a class="link" href="https://github.com/OlgaTolpykina" target="_blank">Olga Tolpykina</a>
    <a class="link" href="https://github.com/SergeySerzhan" target="_blank">Sergey Serzhan</a>
    <a class="link" href="https://github.com/koraleaxandr" target="_blank">Alexandr Karatkevich</a>
  </div>
</div>
<a class="link rss-logo" href="https://rs.school/" target="_blank">
  <img src="../../../../assets/img/rss.svg" alt="RSSchool" width="100" height="53" />
</a>
