@import "styles-const.scss";

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background: linear-gradient(0deg, var(--white), var(--background-gradient) 100%);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: var(--primary);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.custom-modal {
  .mat-dialog-container {
    border-top: 50px solid var(--primary);
  }
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}
