<ng-container *transloco="let t">
  <!-- <div class="message-container" fxLayout="row" fxLayoutAlign="center top"> -->
  <mat-dialog-content class="modal-content">
    {{ t(messageService.messageForUser) }}
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="buttons-container" *ngIf="messageService.messageForUser === 'delete confirmation'">
      <button mat-button mat-dialog-close color="warn" (click)="messageService.sendDeleteRequest()">
        {{ t("delete") }}
      </button>
      <button
        mat-button
        mat-dialog-close
        (click)="messageService.router.navigate([messageService.redirectUrl])"
        routerLinkActive="active"
        color="primary"
      >
        {{ t("cancel") }}
      </button>
    </div>

    <div class="buttons-container" *ngIf="messageService.messageForUser !== 'delete confirmation'">
      <button
        type="button"
        class="link button-link"
        routerLink=""
        routerLinkActive="active"
        (click)="messageService.router.navigate([messageService.redirectUrl])"
      >
        {{ t("Back") }}
      </button>
    </div>
  </mat-dialog-actions>
  <!-- </div> -->
  <!-- </div> -->
</ng-container>
