<ng-container *transloco="let t">
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
  <p>{{ t("home") }}</p>
</ng-container>
